.change-password-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin: 0px 50px;
}

.change-password-card{
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 0px;
    border-radius: 10px;
}
.change-password-card .card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}